.left-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    
}

.right-fixed {
    padding: 9px 0;
    position:fixed;
    right:20px;
    top:60px;
    
}

.row-fluid > .span-left-fixed {
    margin-left: 300px;
}

::selection{
	background: #FF2AAA;
}

.brandfield{
    width: 535px;
}

.typefield{
    width: 166px;
}

.yearfield{ 
    width: 166px;
}

.gradefield{
    width: 166px;
}

.post{
    width: 550px;
}