.left-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    
}

.right-fixed {
    padding: 9px 0;
    position:fixed;
    right:20px;
    top:60px;
    
}

.row-fluid > .span-left-fixed {
    margin-left: 300px;
}

::selection{
	background: #FF2AAA;
}

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:21.97%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        top:70px;
    }
}

.margless{
    margin:0 !important;
}

.textfield{
    border: none !important; 
    background-color: rgb(233, 233, 233) !important;
    border-radius: 0px !important;
    color: rgb(172, 105, 105) !important;
    font-size: 20px !important;
}

.btn-flat-pink{
    background-color: rgb(209, 45, 104);
    color: white;
    font-weight: lighter;
    border: none;
    padding: 3px 3px 3px 3px;
    cursor: pointer;
}

.btn-flat-pink:hover{
    background-color: rgb(173, 35, 85);
    text-decoration: none;
    color: white;
}

.wine-label{
    background-color: rgb(238, 234, 224);
padding: 5px 5px 5px 5px;
color: rgb(156, 48, 48);
margin-bottom: 5px;
}

